body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
}

[data-view="entries"] img {
  margin-bottom: 25px;
}

a:hover {
  cursor: pointer;
}

input {
  height: 33px;
}

input,
textarea {
  width: 100%;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline-style: none;
  border-color: #572b82;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
}

nav h2 {
  font-weight: 300;
}

[data-view="entries"] ul h2 {
  font-weight: 400;
}

ul h3 {
  margin-bottom: 10px;
  font-weight: 400;
}

nav h3 {
  font-weight: 300;
  font-size: 16px;
  margin-left: 25px;
}

nav {
  padding-top: 5px;
}

p {
  line-height: 1.5rem;
  font-weight: 300;
}

ul {
  list-style: none;
  padding-left: 5px;
}

.header-banner {
  background-color: #572b82;
}

.header-title {
  color: white;
}

.justify-end {
  justify-content: flex-end;
}

.entry {
  margin-bottom: 50px;
}

.justify-space-between {
  justify-content: space-between;
}

.text-align-center {
  text-align: center;
}

#save-button {
  background-color: #572b82;
  color: white;
  font-size: 18px;
  border-width: 0;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#new-button {
  background-color: #572b82;
  color: white;
  font-size: 16px;
  border-width: 0;
  border-radius: 5px;
  width: 80px;
  height: 30px;
}

.align-center {
  align-items: center;
}

@media screen and (min-width: 768px) {
  .display-flex {
    display: flex;
  }

  .no-margin-top {
    margin-top: 0;
  }

  nav h3 {
    font-weight: 300;
    margin-left: 30px;
  }
}
